.icon-tabela-creches path {
    fill: #00A6E2;
}

.bg-linha-detalhe{
    background-color: #F6FBFF;
}

.tr-tabela-creches:hover{
    cursor: pointer;
}

.td-tabela-creches-sem-borda{
    border: none !important;
}

.container-icon-tabela-creches:hover{
    background-color: #C2ECFC;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    padding: 5px;
    margin: -5px;
    cursor: pointer;
}

.btn-outline-primary{
    border: 2px solid #196CBD;
    color: #196CBD;
}

@media (min-width: 991px) {
    .tabela-escolas-div {
        height: 803px;
    }
}